<div class="placeholder">
  <h2>Task</h2>
</div>

<div class="comment-section">
  <h4>Comments:</h4>

  <div class="comment-container" *ngFor="let comment of comments">
    <div class="comment">
      <span class="speech-bubble-icon">
        <i class="fa fa-comment"></i>
      </span>
      <span class="comment-text" [innerHtml]="comment.parsedText"></span>
      <span class="comment-data">
        System - {{ comment.timestamp | date: "short" }}
      </span>
    </div>
    <hr class="separator" />
  </div>

  <div class="new-comment-wrapper">
    <ul #mentionList class="mention-list" *ngIf="showMentionList">
      <li
        *ngFor="let user of filteredUsers; let i = index"
        [class.selected]="i === selectedUserIndex"
        (click)="selectUser(user.name)"
      >
        {{ user.name }}
      </li>
    </ul>

    <div class="new-comment">
      <textarea
        placeHolder="Type @ and tag user"
        (keydown)="handleKeydown($event)"
        (keyup)="detectMention($event)"
        [(ngModel)]="newCommentText"
      >
      </textarea>
      <button mat-raised-button (click)="addComment()">Add Comment</button>
    </div>
  </div>
</div>
